.cat-list {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 300px;
    margin: 15px;
    border: solid 1px blue;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: cadetblue;
}
.cat-card>div {
    padding: 10px;
}
.cat-card img {
    width:300px;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cat-card button {
    margin: 10px auto 10px;
}